.header {
    width: 80%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 80%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    text-decoration: none;
    color: white;
  }

  h1 {
      margin-top: 30pt;
      font-size: 13pt;
      color: #333;
      
  }

  .About {
      background-color: white;
      width: 80%;
      padding: 5pt;
      opacity: 0.9;
  }

  p {
      text-align: left;
      padding: 5%;
      color: #333;
  }

  hr {
      width: 50%;
      border: 1px solid  #333;
  }

  body {
    background: url(achtergrond.jpg);
  }

  .poster {
    width: 80%;
    margin-top: 15px;
}
